@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-[#262626] rounded-md;
}
::selection {
  @apply bg-emerald-600 text-gray-200;
}

.layout {
  @apply max-w-6xl px-6 mx-auto;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-[#121212] text-neutral-100;
  }
  body {
    overflow-y: overlay;
  }
  header {
    @apply fixed bottom-6 left-1/2 -translate-x-1/2 py-4 px-8 h-fit md:top-4 bg-[#262626] bg-opacity-80 backdrop-blur-sm backdrop-filter z-30 rounded-md shadow-lg;
  }
  h1 {
    @apply text-2xl md:text-4xl font-bold;
  }
  h2 {
    @apply text-2xl md:text-3xl font-semibold;
  }
  h3 {
    @apply text-xl md:text-2xl font-semibold;
  }
  h4 {
    @apply text-lg md:text-xl font-semibold;
  }
  h5 {
    @apply text-base md:text-lg font-semibold;
  }
  h6 {
    @apply text-sm md:text-base font-semibold;
  }
  .link {
    @apply hover:text-emerald-400;
  }
  .accent {
    @apply bg-clip-text text-transparent bg-gradient-to-br from-emerald-500 to-green-500;
  }
  button,
  .button {
    @apply hover:scale-105 duration-300;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to bottom, #4ade80, #059669);
    background-size: 100% 2px, 0 2px;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  @media (prefers-reduced-motion: reduce) {
    .animated-underline {
      transition: none;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
